
.bar_a{
	fill:#FFC100;
	stroke:#E7AE00;
	clip-path: url(#clip);
}
        
.bar_b{
	fill:#000000;
	stroke:#6B6B6B;
	clip-path: url(#clip);
}
        
path{
	fill:grey;
	opacity:0.5;
	clip-path: url(#clip);
}
        
.textA{
	dominant-baseline: middle;
	clip-path: url(#clip);
}

.textB{
    dominant-baseline: middle;
    clip-path: url(#clip);
}

text{
    dominant-baseline: middle;
}



